/* CSS Selector */

h1{                        /* CSS Element Selector */
    color: green;
    font-size:  70px;
 }

.highlighted_text{       /* CSS Class Selector */
    color: black;
    background-color: rgb(0, 123, 255);
    font-size: 70px;
}

#bold_text{         /* CSS Id Selector */ /* ID always Unique */
 text-align: center;
 color: skyblue;
 font-weight:bold;
 font-size:  70px;
 font-style: italic;
}

*{                   /* CSS Universal Selector */ 
font-size: 40px ;
text-align: left;
}

h3,h4,p{            /* CSS Group Selector */
color:black;

}

body{         /* Changing Background  */
/* 
background-color: aqua;    for solid color */

background-image: url(bg.jpg);
background-repeat: no-repeat;
object-fit:cover;
background-position: center;
background-attachment: scroll ;
background-size: auto;
background:#45FCFC url(bg.jpg) no-repeat center scroll;
}


/* Border style */
.dotted { color:black; border-style: dotted; }
.dashed { border-style: dashed;}
.solid { border-style: solid;}
.double { border-style: double;}
.groove {border-style:groove ;}
.ridge {border-style:ridge ;}
.inset {border-style:inset ;}
.outset {border-style: outset ;}
.none {border-style:none ;}
.hidden {border-style:hidden ;}
.mix {border-style:dotted dashed solid double ;}

.border_redius {border-radius: 40px 1px 20px;}

.div0 {
    /* CSS Border radius 
    Four values (top-left corner, top-right corner, bottom-right corner, and bottom-left corner)
    Three values (top-left corner, _______________, bottom-right corner, and bottom-left corner)
    Two values (top-left corner, _______________, bottom-right corner, _______________)
    */
    height: 300px;
    width: 700px;
    background-color: bisque;
    border-radius: 100px 0px 100px 0px;     
}

/* ----------- line height -----------*/
.div1
    {
      line-height:5px;
    }

/* ------------- CSS Display Property ---------- */
.p1 {  display: none;    }
.p2 {  display: inline;    }
.p3 {  display: block;    }
.p4 {  display: inline-block;    }

.div2 {  display: inline;    }

/* ------------- CSS Cursor Property ------------*/
    .alias {cursor: alias;}
    .all-scroll {cursor: all-scroll;}
    .auto {cursor: auto;}
    .cell {cursor: cell;}
    .col-resize {cursor: col-resize;}
    .context-menu {cursor: context-menu;}
    .copy {cursor: copy;}
    .crosshair {cursor: crosshair;}
    .default {cursor: default;}
    .e-resize {cursor: e-resize;}
    .ew-resize {cursor: ew-resize;}
    .grab {cursor: -webkit-grab; cursor: grab;}
    .grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
    .help {cursor: help;}
    .move {cursor: move;}
    .n-resize {cursor: n-resize;}
    .ne-resize {cursor: ne-resize;}
    .nesw-resize {cursor: nesw-resize;}
    .ns-resize {cursor: ns-resize;}
    .nw-resize {cursor: nw-resize;}
    .nwse-resize {cursor: nwse-resize;}
    .no-drop {cursor: no-drop;}
    .none {cursor: none;}
    .not-allowed {cursor: not-allowed;}
    .pointer {cursor: pointer;}
    .progress {cursor: progress;}
    .row-resize {cursor: row-resize;}
    .s-resize {cursor: s-resize;}
    .se-resize {cursor: se-resize;}
    .sw-resize {cursor: sw-resize;}
    .text {cursor: text;}
    .url {cursor: url(myBall.cur),auto;}
    .w-resize {cursor: w-resize;}
    .wait {cursor: wait;}
    .zoom-in {cursor: zoom-in;}
    .zoom-out {cursor: zoom-out;}

/* --------- CSS Float Property ------ */

img  {
    float: right;
  }

/* ------- CSS Font Properties ------ */

.font
     {
      font-size: 40px;
      font-variant: small-caps;
      font-weight: 300;
      color: blueviolet;
      font-family: 'Courier New', Courier, monospace;
      font-style: italic;
     }

/* -------- CSS Hover Property ------- */
/* The :hover selector is used to select elements when you mouse over them */
.button
      {
        background-color: rgb(23, 205, 6);
        border-radius: 5px;
        border-color: black;
        color:white;
        padding: 30px;
      }
.button:hover 
            {
             background-color: red;
             color: black;
            }
/* ---------- important Property -------*/
.imp {
    color: red;
    font-style: italic !important;
    }
.imp {
        color: black;
        font-style: italic;
    }    

    /* ----------- margin Property -----*/
.mar {

    line-height: 40px;
    margin: 5px 25px 5px 25px; 
    /*
    margin-top: 5px; margin-bottom: 25px; 
    margin-left: 5px; margin-right: 5px;
    */
    color: orange;
}

