/* CSS Selector */

h1{                        /* CSS Element Selector */
    color: green;
    font-size:  70px;
 }

.highlighted_text{       /* CSS Class Selector */
    color: black;
    background-color: rgb(0, 123, 255);
    font-size: 70px;
}

#bold_text{         /* CSS Id Selector */ /* ID always Unique */
 text-align: center;
 color: skyblue;
 font-weight:bold;
 font-size:  70px;
 font-style: italic;
}

*{                   /* CSS Universal Selector */ 
font-size: 40px ;
text-align: left;
}

h3,h4,p{            /* CSS Group Selector */
color:black;

}

body{         /* Changing Background  */
/* 
background-color: aqua;    for solid color */

background-image: url(bg.jpg);
background-repeat: no-repeat;
object-fit:cover;
background-position: center;
background-attachment: scroll ;
background-size: auto;
background:#45FCFC url(bg.jpg) no-repeat center scroll;
}


/* Border style */
.dotted { color:black; border-style: dotted; }
.dashed { border-style: dashed;}
.solid { border-style: solid;}
.double { border-style: double;}
.groove {border-style:groove ;}
.ridge {border-style:ridge ;}
.inset {border-style:inset ;}
.outset {border-style: outset ;}
.none {border-style:none ;}
.hidden {border-style:hidden ;}
.mix {border-style:dotted dashed solid double ;}

.border_redius {border-radius: 40px 1px 20px;}

.div0 {
    /* CSS Border radius 
    Four values (top-left corner, top-right corner, bottom-right corner, and bottom-left corner)
    Three values (top-left corner, _______________, bottom-right corner, and bottom-left corner)
    Two values (top-left corner, _______________, bottom-right corner, _______________)
    */
    height: 300px;
    width: 700px;
    background-color: bisque;
    border-radius: 100px 0px 100px 0px;     
}

/* ------------- CSS Display Property ---------- */
.p1 {  display: none;    }
.p2 {  display: inline;    }
.p3 {  display: block;    }
.p4 {  display: inline-block;    }